@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    cursor: none;
    margin: 0;
    padding: 0;
    transition: .3 ease-out;
}

a {
    color: #000;
}

body {
    aspect-ratio: 1 / 2;
    background-color: #fff;
    font-family: Archivo, sans-serif;
    font-size: 2vh;
    height: 100vh;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

footer {
    bottom: 0;
    display: flex;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.container {
    margin: 5vh;
}

.mottoboxbox {
    display: flex;
    flex-direction: column;
}

.mottobox {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar ul {
    list-style-type: none;
}  

.navbar li {
    background-color: #ccc;
    border: .2vh solid;
    border-radius: 1vh;
    margin-right: .5vh;
    padding: .8vh;
    transition: 0.1s ease-out;
}

.navbar li:hover {
    background-color: #999;
    transition: 0.1s ease-out;
}

.navbar a {
    text-decoration: none;
}

.timebox {
    margin: auto 0 auto 0;
}

.titlebox {
    display: flex;
    flex-direction: row;
}

.titleboxbox {
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: .6vh;
    justify-content: space-between;
}

#cursorbox {
    background: #fff;
    border-radius: 30%;
    height: 20vh;
    margin: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width .5s cubic-bezier(.5, -.2, .3, 1.2), height .5s cubic-bezier(.5, -.2, .3, 1.2), left .1s linear, top .1s linear;
    width: 20vh; 
    position: fixed;
    z-index: 9999;
}

#icon {
    aspect-ratio: 1;
    background-color: #000;
    border-radius: 0.6vh;
    height: 2vh;
    margin: 0 .6vh 0 .4vh;
}

#subtitle {
    font-size: 2vh;
}

#time {
    margin-bottom: 1.2vh;
}

#title {
    font-size: 4.5vh;
    margin-right: 1vh;
}

/* Music Player */

/*

.player {
  background-color: #eee;
  border-radius: 2vh;
  display: inline-block;
  font-size: 1.6vh;
  margin: 2vh auto 2vh auto;
  overflow: hidden;
  padding: 2vh;
  width: 42vh;
}

.songinfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0 1vh 0;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls > *{
  aspect-ratio: 1;
  background-color: #ddd;
  border: none;
  border-radius: 1.6vh;
  margin: 0 1vh 0 1vh;
  width: 4vh
}

.controls > *:hover{
  background-color: #ccc;
}

#songname {
    margin-right: 1vh;
}

*/