@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    cursor: none;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100dvh;
}

p {
    font-family: Archivo;
    font-size: min(20vw,20vh);
}